

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --laranja: #dd7719;
    --fonte: "Inter", sans-serif;
    --cinza-principal: #494949;
    --banner-background: #020403;
    --cor-texto: #f1f1f1;
    --menu-fundo: #322F2F;
}